.portfolio {
    width: 100vw;
    height: auto;
    padding: 5em; 

}
 .container {
    width: 80wv;
    margin-right:100px ;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    align-items: center;

}

.card {
    width: 100%;
    margin: 20px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1A3A9B ;
    border: 5px solid orange;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.card-img {
    width: 100%;
    height: 335px;
   
}
.card h2 {
    margin-bottom: 20px;
}
.card-title{
    padding: 0 20px;
    margin: 20px;
}

.card-project {
    display: flex;
    justify-content: space-evenly;
}


.poject-details{
    margin-bottom: 40px;
}
.poject-details a{
    text-decoration:none;
    color: black;
}
.poject-details a:hover{
    background-color: orange;

}



@media screen and (max-width: 1600px) {
    .container .card{
        width: 500px;
    }
       
 

}

@media screen and (max-width: 1400px) {
    .container .card{
        width: 100%;
    }
       
 

}

@media screen and (max-width: 1200px){
    .container .card{
        width: 420px;
    }
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 980px){
    
   
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (max-width: 700px){
    .portfolio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    h2 {
        font-size: 30px;
        text-align: left;
    }
    .portafolio-title{
        margin-left: 50px;
    }
    .portafolio-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .portfolio-headings{ 
        width: 300px;
    }
    .container .card{
        width: 100%;
    }
    .card {
        width: 100%;
        margin: 20px;
        margin-left: 50px;
    }
    .card-img{
        height: 150px;
    }
}

@media screen and (max-width: 500px){
    .container .card{
        margin-left:20px;
        width: 300px;

    }
    .container{
        width: 100%;
        margin: 0;
    }
}